:root {
  --primary: #1a1a1a;
  --secondary: #fdfbf7;
  --muted: #ddd9d8;
  /* ///bg//// */
  --bg: #fdf8f8;
  --card-bg: #fdfbf7;
  /* ////textColor/// */
  --text-main: #1c1b1b;
  --text-inverse: #fdfbf7;
  --text-muted: #aeaeaed5;
  /* ////font/// */
  --logo-family: "Cormorant Garamond", serif;
  --heading-family: "Noto Serif", sophisticated serif;
  --body-family: "Manrope", sans-serif;
  --heading-font: clamp(2.5rem, 10vw, 6rem);
  --title-font: clamp(2rem, 5vw, 2.5rem);
  --body-font: clamp(0.8rem, 4vw, 1.125rem);
  --heading-weight: 500;
  --title-weight: 400; /*/////*/
  --body-weight: 300;
  /* ////spacing & shadow/// */
  --padding: clamp(10px, 3vw, 20px);
  --margin: 4px;
  --radius: 12px;
  --shadow: 4px 4px 10px -10px;

  /* glass bg */
  --glass-bg: #535050a7;
  --glass-border: 1px solid rgba(189, 183, 183, 0.551);
  /* glassBtn bg */
  --glass-btn-bg: #fdfbf72f;
  --glass-btn-border: 1px solid rgba(104, 104, 104, 0.6);
}
* {
  margin: 0;
  box-sizing: border-box;
}
.dark {
  /* this for btns and events */
  --primary: #1a1a1a;
  --muted: #ddd9d8;
  --secondary: #fdfbf7;
  --secondary: #f5f5f5;
  --muted: #231f1f;
  /* /////// */
  /* this for bg */
  --bg: #121212;
  --card-bg: #1a1a1a;
  /* /////// */
  /* this for text */
  --text-main: #f5f5f5;
  --text-inverse: #0a0a0a;
  --text-muted: #595959d5;
  /* /////// */
  --glass-bg: #c5c3c361;
  --glass-border: 1px solid rgba(176, 176, 176, 0.7);
}
body {
  position: relative;
  background: var(--bg);
  color: var(--text-main);
  font-family: var(--body-family);
}
img {
  width: 100%;
  height: 100%;
  display: block;
}
button {
  cursor: pointer;
}
/*/////////////////////////// NavBar ///////////////////////////*/
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: var(--border);
  padding: var(--padding);
  z-index: 99;
}
.navbar a {
  text-decoration: none;
  color: var(--text-inverse);
}
.navbar .logoDiv {
  border: var(--border);
}
.logoDiv a {
  font-size: calc(var(--body-font) + 0.5rem);
  font-family: var(--logo-family);
  font-weight: 900;
}
.navbar .links-Div {
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  list-style: none;
  background-color: var(--glass-bg);
  border: var(--glass-border);
  border-radius: calc(var(--radius) / 2);
  backdrop-filter: blur(10px);
  box-shadow: 4px 4px 10px -10px;
  overflow: hidden;
}
.links-Div .links {
  display: flex;
  position: relative;
  z-index: 99;
}
.links button {
  background: none;
  border: none;
}
.links a,
.links button {
  color: var(--text-inverse);
  padding: calc(var(--padding)) calc(var(--padding));
  transition: background-color 0.2s ease;
}
.links a:hover,
.links button:hover {
  background-color: var(--glass-btn-bg);
}
.smallMenuBtn {
  position: fixed;
  left: 45%;
  z-index: -1;
  display: none;
  background-color: var(--glass-bg);
  border: var(--glass-border);
  border-radius: calc(var(--radius) / 2);
  backdrop-filter: blur(10px);
  box-shadow: 4px 4px 10px -10px;
  width: clamp(40px, 5vw, 60px);
  transition: background-color 0.2s ease;
}
.smallMenuBtn:hover {
  background-color: var(--glass-bg);
}
.smallMenuBtn img {
  width: 100%;
  display: block;
  filter: invert(1);
}
.secondaryBtn {
  border: none;
  background-color: var(--secondary);
  font-size: var(--body-font);
  padding: 15px calc(var(--padding) * 2);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  font-family: var(--body-family);
  font-weight: 600;
  cursor: pointer;
  transition:
    box-shadow 0.2s ease,
    transform 0.2s ease,
    filter 0.2s ease;
}
.secondaryBtn:hover {
  box-shadow: none;
  transform: translate(1px, 1px);
  filter: brightness(90%);
}
/*/////////////////////////// HeroSection ///////////////////////////*/
section {
  position: relative;
}
/* ////////////////// */
.glassBtn {
  color: var(--text-inverse);
  background-color: var(--glass-btn-bg);
  border: var(--glass-border);
  padding: var(--padding) calc(var(--padding) * 2);
  border-radius: var(--radius);
  backdrop-filter: blur(10px);
  box-shadow: 4px 4px 10px -8px #807d7d;
  transition:
    transform 0.2s ease,
    box-shadow 0.1s ease;
}
.glassBtn:hover {
  box-shadow: none;
  transform: translate(1px, 1px);
}
.heroSection {
  color: var(--text-inverse);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  border-radius: var(--radius);
  margin: var(--margin) var(--margin) calc(var(--margin) + 0.5rem);
  padding: var(--padding);
  overflow: hidden;
  height: clamp(100vh, 80vw, 650px);
}
.heroSection img {
  position: absolute;
  inset: 0;
  object-fit: cover;
  filter: brightness(30%);
  z-index: -1;
}
.heroSection .heroInfo {
  text-align: center;
  justify-content: center;
  width: 70%;
}
.heroSection h1 {
  font-size: var(--heading-font);
  font-family: var(--heading-family);
  font-weight: 400;
}
.heroSection p {
  margin: auto;
  font-size: var(--body-font);
  font-family: var(--body-family);
  font-weight: 200;
  width: 60%;
}
.heroSection .heroBtns {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.heroBtns button:nth-child(2) {
  background: none;
}

/*/////////////////////////// StorySection ///////////////////////////*/
.storySection {
  margin: calc(var(--margin) + 0.5rem) var(--margin);
  padding: var(--padding) calc(var(--padding) + 0.5rem);
  border-radius: var(--radius);
  overflow: hidden;
  height: clamp(700px, 80vw, 750px);
  color: var(--text-inverse);
}
.storySection img {
  position: absolute;
  inset: 0;
  object-fit: cover;
  object-position: center;
  filter: brightness(40%);
  z-index: -1;
}
.storySection .storyInfo {
  display: flex;
  flex-flow: column;
  align-items: start;
  justify-content: space-evenly;
  padding: calc(var(--padding) * 3) calc(var(--padding) * 4);
  background: var(--glass-bg);
  border: var(--glass-border);
  border-radius: var(--radius);
  width: clamp(520px, 50vw, 650px);
  height: 100%;
}
.storyInfo span {
  font-size: calc(var(--body-font) - 0.2rem);
}
.storyInfo h1 {
  font-family: var(--heading-family);
  font-size: calc(var(--title-font) + 0.5rem);
  line-height: 3rem;
}
.storyInfo p {
  font-size: var(--body-font);
}
.storyInfo button {
  font-size: clamp(0.7rem, 20vw, calc(var(--body-font) - 0.3rem));
  font-weight: 200;
  box-shadow: 4px 4px 10px -2px #333;
  letter-spacing: 3px;
}

/*/////////////////////////// PeakMenu ///////////////////////////*/
.peakMenu {
  text-align: center;
  margin: calc(var(--margin) + 4rem) var(--margin) calc(var(--margin) + 5rem);
  padding: 0 calc(var(--padding) * 4);
}
.peakMenu .peakSpan {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: clamp(0.7rem, 10vw, calc(var(--body-font) - 8px));
}
.peakMenu h1 {
  font-family: var(--heading-family);
  font-size: var(--title-font);
  font-weight: 400;
}
.peakMenu .previewMenu {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, clamp(220px, 30vw, 420px));
  grid-auto-flow: row dense;
  grid-gap: clamp(20px, 4vw, 60px);
  margin: calc(var(--margin) + 2rem) 0;
  height: 100%;
}
.previewMenu .item {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: end;
  align-items: center;
  border-radius: var(--radius);
  height: clamp(300px, 40vw, 450px);
  overflow: hidden;
}
.previewMenu .item img {
  position: absolute;
  inset: 0;
  object-fit: cover;
  object-position: center;
  filter: brightness(100%);
  width: 100%;
  height: 100%;
  z-index: -1;
}
.previewMenu .item .itemInfo {
  color: var(--text-inverse);
  background: var(--glass-bg);
  border: var(--glass-border);
  border-radius: var(--radius);
  padding: calc(var(--padding)) calc(var(--padding) * 2);
  margin: calc(var(--margin) + 1rem) 0;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  gap: 10px;
  backdrop-filter: blur(5px);
  word-wrap: break-word;
  width: 80%;
  height: auto;
}
.itemInfo span {
  text-transform: uppercase;
  color: var(--text-muted);
  font-size: clamp(0.7rem, 10vw, calc(var(--body-font) - 4px));
  letter-spacing: 2px;
  font-weight: 800;
}
.itemInfo p {
  text-transform: capitalize;
}

/*/////////////////////////// FeedbackSection ///////////////////////////*/
.feedbackSection {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: calc(var(--padding) * 2) var(--padding);
  margin: var(--margin);
}
.feedbackSection .slideShow {
  display: flex;
  flex-flow: column;
  gap: 20px;
  width: 80%;
  height: 100%;
  overflow: hidden;
  text-align: center;
}
.slideShow .slides {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform .3s ease;
}
.slides .slide {
  display: flex;
  flex-flow: column;
  align-items: center;
  min-width: 100%;
}
.slide span {
  color: var(--text-muted);
  font-family: "Arvo", sans-serif;
  font-size: calc(var(--body-font) + 0.4rem);
}
.slide h1 {
  margin: calc(var(--margin) + 2rem) 0;
  width: 85%;
  color: var(--text-main);
  font-family: var(--heading-family);
  font-size: var(--title-font);
  font-weight: 300;
}
.slide h4 {
  font-family: var(--body-family);
  font-size: calc(var(--body-font) - 0.2rem);
  letter-spacing: 4px;
}
.slide h5 {
  font-family: var(--body-family);
  font-size: var(--body-font);
  color: var(--text-muted);
  margin: calc(var(--margin) + 0.5rem) 0;
}
.slideShow .slidesBtns {
  padding: var(--padding);
  display: flex;
  justify-content: center;
  gap: clamp(20px, 4vw, 60px);
}
.slidesBtns button {
  width: clamp(40px, 10vw, 60px);
  margin: 0 var(--margin);
  padding: calc(var(--padding) / 1.5);
  background: none;
  border: var(--glass-btn-border);
  box-shadow: 4px 4px 10px -7px;
  transition:
    box-shadow 0.2s ease,
    transform 0.2s ease;
}
.slidesBtns button:hover {
  box-shadow: none;
  transform: translate(1px, 1px);
}
.slidesBtns .prev img {
  transform: rotate(180deg);
}

/*/////////////////////////// FeedbackSection ///////////////////////////*/

/* /////////////////// Dark Mode /////////////////// */

.dark .logoDiv a {
  color: var(--text-main);
}
.dark .smallMenuBtn img {
  filter: invert(0);
}
.dark .heroSection * {
  color: var(--text-main);
}
.dark .storySection * {
  color: var(--text-main);
}
.dark .slidesBtns button img {
  filter: invert(1);
}
@media (max-width: 900px) {
  .smallMenuBtn.active {
    transform: translateY(220%);
    animation: moveBtnIn 0.3s ease;
  }
  .smallMenuBtn {
    display: block;
  }
  .links-Div.active {
    display: flex;
  }
  .links-Div {
    display: none;
    padding: var(--padding) 0;
    animation: showNavbar 0.3s linear;
  }
  @keyframes moveBtnIn {
    from {
      transform: translateY(0%);
    }
    to {
      transform: translateY(220%);
    }
  }
  @keyframes showNavbar {
    from {
      width: 0%;
    }
    to {
      width: 80%;
    }
  }
  .logoDiv a {
    font-size: calc(var(--body-font));
  }
  /* ///// */
  .heroSection .heroBtns {
    flex-flow: column;
    justify-content: center;
    gap: 20px;
  }
  .glassBtn {
    padding: var(--padding) calc(var(--padding) * 2);
    padding: clamp(1rem, calc(var(--padding) * 2), 1.5rem)
      calc(var(--padding) * 2);
  }
  .heroSection .heroInfo {
    width: 100%;
  }
  .heroSection p {
    margin: auto;
    font-size: var(--body-font);
    font-family: var(--body-family);
    font-weight: 200;
    width: 80%;
  }
  /* ///// */
  .storySection {
    padding: var(--padding) calc(var(--padding));
    overflow: hidden;
    height: clamp(600px, 80vw, 750px);
  }
  .storySection .storyInfo {
    padding: var(--padding);
    width: 100%;
    height: 100%;
  }
  /* ///// */
  .peakMenu {
    text-align: center;
    padding: 0 calc(var(--padding));
  }
  .peakMenu .previewMenu {
    grid-template-columns: repeat(1, clamp(300px, 60vw, 500px));
    gap: 20px;
  }
  /* ///// */
  .feedbackSection .slideShow {
    width: 100%;
  }
  .slide h1 {
    margin: calc(var(--margin) + 2rem) 0;
    width: 100%;
    color: var(--text-main);
    font-family: var(--heading-family);
    font-size: var(--title-font);
    font-weight: 300;
  }
  /* ///// */
}
